{% extends "SalatinoSiteBundle::layout.html.twig" %}

{% block headerCss %}
<style>
	.breeds-component .breed-machos:before   { background: url('{{ asset('uploads/') }}{{ post.picture }}') center no-repeat; background-size: 110%; }
	.breeds-component .breed-machos:after    { background: url('{{ asset('uploads/') }}{{ post.picture }}') center no-repeat; background-size: 100%; }

	.breeds-component .breed-femeas:before   { background: url('{{ asset('uploads/') }}{{ post.smallPicture }}') center no-repeat; background-size: 110%; }
	.breeds-component .breed-femeas:after    { background: url('{{ asset('uploads/') }}{{ post.smallPicture }}') center no-repeat; background-size: 100%; }

	.breeds-component .breed-filhotes:before { background: url('{{ asset('uploads/') }}{{ post.bigPicture }}') center no-repeat; background-size: 110%; }
	.breeds-component .breed-filhotes:after  { background: url('{{ asset('uploads/') }}{{ post.bigPicture }}') center no-repeat; background-size: 100%; }
</style>
{% endblock %}

{% block content %}
<div class="container">
	
	{% embed "SalatinoSiteBundle::Snippet/MainSlider.html.twig" %}{% endembed %}

	{% embed "SalatinoSiteBundle::Snippet/SubMenuGroup.html.twig" %}{% endembed %}

	<div class="row">
		<div class="col-sm-12">
			<div class="text-description">
				<p>{{ post.body | formatHtml | raw }}</p>
			</div>
		</div>
	</div>

	{% embed "SalatinoSiteBundle::Snippet/Instagram.html.twig" %}{% endembed %}

	{% embed "SalatinoSiteBundle::Snippet/PartnersNews.html.twig" %}{% endembed %}

</div>

{% endblock %}
