{% extends "SalatinoSiteBundle::layout.html.twig" %}

{% block headerCss %}
<style>
	.breeds-component .box-italian:before   { background: url('{{ asset('uploads/') }}{{ cover.picture }}') center no-repeat; background-size: 110%; }
	.breeds-component .box-italian:after    { background: url('{{ asset('uploads/') }}{{ cover.picture }}') center no-repeat; background-size: 100%; }

	.breeds-component .box-teckel:before   { background: url('{{ asset('uploads/') }}{{ cover.smallPicture }}') center no-repeat; background-size: 110%; }
	.breeds-component .box-teckel:after    { background: url('{{ asset('uploads/') }}{{ cover.smallPicture }}') center no-repeat; background-size: 100%; }

	.breeds-component .box-papillon:before { background: url('{{ asset('uploads/') }}{{ cover.bigPicture }}') center no-repeat; background-size: 110%; }
	.breeds-component .box-papillon:after  { background: url('{{ asset('uploads/') }}{{ cover.bigPicture }}') center no-repeat; background-size: 100%; }
</style>
{% endblock %}

{% block content %}
<div class="container">
	
	{% embed "SalatinoSiteBundle::Snippet/MainSlider.html.twig" %}{% endembed %}

	<div class="row">
		<div class="breeds-component">
			<div class="col-sm-12"><h2>Canil Salatino</h2></div>
			
			<div class="col-sm-4">
				<div class="box-italian">
					<h4>ITALIAN GREYHOUND</h4>
					<a href="{{ path('_section', { 'permalink' : 'italian-greyhound' }) }}">veja mais</a>
				</div>
			</div>

			<div class="col-sm-4 pdl pdr">
				<div class="box-teckel">
					<h4>TECKEL PELO LONGO</h4>
					<a href="{{ path('_section', { 'permalink' : 'teckel-pelo-longo' }) }}">veja mais</a>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="box-papillon">
					<h4>PAPILLON</h4>
					<a href="{{ path('_section', { 'permalink' : 'papillon' }) }}">veja mais</a>
				</div>
			</div>
		</div>
	</div>

	{% if cover.showHostel == 1 %}
	<div class="row">
		<div class="col-sm-8 pdr news-slide-wrapper">
			<h2>Hotel Clube Salatino</h2>

			<div data-ride="carousel" class="carousel slide news-slide" id="news-slide">
				<ol class="carousel-indicators">
				{% for row in hostel %}
					<li class="{{ loop.index0 == 0 ? 'active' : '' }}" data-slide-to="{{ loop.index0 }}" data-target="#news-slide"></li>
				{% endfor %}
				</ol>

				<div role="listbox" class="carousel-inner">
				{% for row in hostel %}
					<div class="item {{ loop.index0 == 0 ? 'active' : '' }}">
						<div class="box-label">

							{% set path = path('_content', { 'permalink' : row.section.permalink, 'id' : row.id , 'title' : row.title | clearLink }) %}

							<h3><a href="{{ path }}">{{ row.title }}</a></h3>
							<p><small><a href="{{ path }}">{{ row.body | InlineText(100) }}</a></small></p>
						</div>
						<img src="{{ asset('uploads/') }}{{ row.picture }}">
					</div>
				{% endfor %}
				</div>
			</div>


			{#}
			<div data-ride="carousel" class="carousel news-slide slide" id="news-slide">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#news-slide"></li>
					<li data-slide-to="1" data-target="#news-slide" class=""></li>
					<li data-slide-to="2" data-target="#news-slide" class=""></li>
				</ol>
				<div role="listbox" class="carousel-inner">
					<div class="item active">
						<div class="box-label">
							<h3>Que tal levar essa menina para a casa?</h3>
							<p>O Natal esta chegando e você ainda não sabe o que vai <br>dar de presente...</p>
						</div>
						<img src="{{ asset('bundles/salatinosite/images/carousel-3.png') }}">
					</div>
					<div class="item">
						<div class="box-label">
							<h3>Que tal levar essa menina para a casa?</h3>
							<p>O Natal esta chegando e você ainda não sabe o que vai <br>dar de presente...</p>
						</div>
						<img src="{{ asset('bundles/salatinosite/images/carousel-4.png') }}">
					</div>
					<div class="item">
						<div class="box-label">
							<h3>Que tal levar essa menina para a casa?</h3>
							<p>O Natal esta chegando e você ainda não sabe o que vai <br>dar de presente...</p>
						</div>
						<img src="{{ asset('bundles/salatinosite/images/carousel-5.png') }}">
					</div>
				</div>
			</div>
			{#}

		</div>

		<div class="col-sm-4 news-slide">
			<h2>Hospedagem</h2>

			<form method="post">
				<div class="col-sm-6 form-group pdr">
					<input type="datetime" class="form-control" id="checkInDate" name="checkInDate" placeholder="ENTRADA">
				</div>

				<div class="col-sm-6 form-group">
					<input type="datetime" class="form-control" id="checkOutDate" name="checkOutDate" placeholder="SAIDA">
				</div>

				<div class="col-sm-3 form-group">
					<label>TRANSFER</label>
				</div>

				<div class="col-sm-9 checkbox-gorup">
					<label class="form-inline">
						<input type="checkbox" name="transferCheckIn" id="transferCheckIn" value="Transfer Check-in">
						Retirada
					</label>

					<label class="form-inline">
						<input type="checkbox" name="transferCheckOut" id="transferCheckOut" value="Transfer Check-out">
						Entrega
					</label>
				</div>

				<div class="col-sm-12 form-group">
					<input type="text" class="form-control" id="animalName" name="animalName" placeholder="NOME DO PET">
				</div>

				<div class="col-sm-12 form-group">
					<input type="text" class="form-control" id="animalBreed" name="animalBreed" placeholder="RAÇA">
				</div>

				<div class="col-sm-12 form-group">
					<input type="text" class="form-control" id="animalOwner" name="animalOwner" placeholder="NOME DO PROPRIETÁRIO">
				</div>

				<div class="col-sm-12 form-group">
					<input type="text" class="form-control" id="ownerPhoneNumber" name="ownerPhoneNumber" placeholder="TELEFONE">
				</div>

				<div class="col-sm-12 form-group">
					<input type="text" class="form-control" id="ownerEmail" name="ownerEmail" placeholder="EMAIL">
				</div>

				<div class="col-sm-12 form-group submit-footer">
					<div class="footer-border"></div>
					<button type="submit" class="btn btn-default pull-right">ENVIAR</button>
				</div>
			</form>
		</div>
	</div>
	{% endif %}


	{% if cover.showPuppies == 1 %}
	<div class="row">
		<div class="col-sm-12">
			<h2>Conheça os Filhotes Salatino</h2>
			
			<div data-ride="carousel" class="carousel puppets-slide slide" id="puppets-slide">
				<ol class="carousel-indicators">
					{% for row in puppies %}
						<li class="{{ loop.index0 == 0 ? 'active' : '' }}" data-slide-to="{{ loop.index0 }}" data-target="#puppets-slide"></li>
					{% endfor %}
				</ol>

				<div role="listbox" class="carousel-inner">
				{% for row in puppies %}
					<div class="item {{ loop.index0 == 0 ? 'active' : '' }}">
						<div class="box-label">

							{% set permLink = row.section.permalink | split('/') %}
							
							{% set path = path('_sub_content', { 'permalink' : permLink[0], 'sub' : permLink[1] , 'id' : row.id , 'title' : row.title | clearLink }) %}

							<h3><a href="{{ path }}">{{ row.title }}</a></h3>
							<p><small><a href="{{ path }}">{{ row.body | InlineText(180) }}</a></small></p>
						</div>
						<img src="{{ asset('uploads/') }}{{ row.bigPicture }}">
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% embed "SalatinoSiteBundle::Snippet/Instagram.html.twig" %}{% endembed %}

	<div class="row">
		<div class="col-sm-12">
			<div class="text-description">
				<p>
					{{ cover.body | raw }}
				</p>
			</div>
		</div>
	</div>

	{% embed "SalatinoSiteBundle::Snippet/PartnersNews.html.twig" %}{% endembed %}

</div>
{% endblock %}