{% extends "SalatinoSiteBundle::layout.html.twig" %}

{% block content %}
<div class="container">
	
	{% embed "SalatinoSiteBundle::Snippet/MainSlider.html.twig" %}{% endembed %}

	<div class="row">
		<div class="breeds-component">
			<div class="col-sm-12"><h2>Canil Salatino</h2></div>
			
			<div class="col-sm-4">
				<div class="box-italian">
					<h4>ITALIAN GREYHOUND</h4>
					<a href="{{ path('_section', { 'permalink' : 'italian-greyhound' }) }}">veja mais</a>
				</div>
			</div>

			<div class="col-sm-4 pdl pdr">
				<div class="box-teckel">
					<h4>TECKEL PELO LONGO</h4>
					<a href="{{ path('_section', { 'permalink' : 'teckel-pelo-longo' }) }}">veja mais</a>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="box-papillon">
					<h4>PAPILLON</h4>
					<a href="{{ path('_section', { 'permalink' : 'papillon' }) }}">veja mais</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 pdr news-slide-wrapper">
			<h2>Hotel Clube Salatino</h2>
			
			<div data-ride="carousel" class="carousel news-slide slide" id="news-slide">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#news-slide"></li>
					<li data-slide-to="1" data-target="#news-slide" class=""></li>
					<li data-slide-to="2" data-target="#news-slide" class=""></li>
				</ol>
				<div role="listbox" class="carousel-inner">
					<div class="item active">
						<div class="box-label">
							<h3>Que tal levar essa menina para a casa?</h3>
							<p>O Natal esta chegando e você ainda não sabe o que vai <br>dar de presente...</p>
						</div>
						<img src="{{ asset('bundles/salatinosite/images/carousel-3.png') }}">
					</div>
					<div class="item">
						<div class="box-label">
							<h3>Que tal levar essa menina para a casa?</h3>
							<p>O Natal esta chegando e você ainda não sabe o que vai <br>dar de presente...</p>
						</div>
						<img src="{{ asset('bundles/salatinosite/images/carousel-4.png') }}">
					</div>
					<div class="item">
						<div class="box-label">
							<h3>Que tal levar essa menina para a casa?</h3>
							<p>O Natal esta chegando e você ainda não sabe o que vai <br>dar de presente...</p>
						</div>
						<img src="{{ asset('bundles/salatinosite/images/carousel-5.png') }}">
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4 news-slide">
			<h2>Hospedagem</h2>

			<form method="post">
				<div class="col-sm-6 form-group pdr">
					<input type="datetime" class="form-control" id="checkInDate" name="checkInDate" placeholder="ENTRADA">
				</div>

				<div class="col-sm-6 form-group">
					<input type="datetime" class="form-control" id="checkOutDate" name="checkOutDate" placeholder="SAIDA">
				</div>

				<div class="col-sm-3 form-group">
					<label>TRANSFER</label>
				</div>

				<div class="col-sm-9 checkbox-gorup">
					<label class="form-inline">
						<input type="checkbox" name="transferCheckIn" id="transferCheckIn" value="Transfer Check-in">
						Retirada
					</label>

					<label class="form-inline">
						<input type="checkbox" name="transferCheckOut" id="transferCheckOut" value="Transfer Check-out">
						Entrega
					</label>
				</div>

				<div class="col-sm-12 form-group">
					<input type="text" class="form-control" id="animalName" name="animalName" placeholder="NOME DO PET">
				</div>

				<div class="col-sm-12 form-group">
					<input type="text" class="form-control" id="animalBreed" name="animalBreed" placeholder="RAÇA">
				</div>

				<div class="col-sm-12 form-group">
					<input type="text" class="form-control" id="animalOwner" name="animalOwner" placeholder="NOME DO PROPRIETÁRIO">
				</div>

				<div class="col-sm-12 form-group">
					<input type="text" class="form-control" id="ownerPhoneNumber" name="ownerPhoneNumber" placeholder="TELEFONE">
				</div>

				<div class="col-sm-12 form-group">
					<input type="text" class="form-control" id="ownerEmail" name="ownerEmail" placeholder="EMAIL">
				</div>

				<div class="col-sm-12 form-group submit-footer">
					<div class="footer-border"></div>
					<button type="submit" class="btn btn-default pull-right">ENVIAR</button>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h2>Conheça os Filhotes Salatino</h2>
			
			<div data-ride="carousel" class="carousel puppets-slide slide" id="puppets-slide">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#puppets-slide"></li>
					<li data-slide-to="1" data-target="#puppets-slide" class=""></li>
					<li data-slide-to="2" data-target="#puppets-slide" class=""></li>
				</ol>
				<div role="listbox" class="carousel-inner">
					<div class="item active">
						<div class="box-label">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quo aliquid facere.</h3>
							<p><small>Id eos modi repellendus molestiae adipisci nulla provident incidunt sed unde nostrum veritatis deserunt accusantium <br>impedit reiciendis.</small></p>
						</div>
						<img src="{{ asset('bundles/salatinosite/images/carousel-6.png') }}">
					</div>
					<div class="item">
						<div class="box-label">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus.</h3>
							<p><small>Lipsum dolorum, autem voluptatibus veniam quisquam, facere perferendis aperiam molestiae obcaecati iste! Ipsum, unde! <br>Excepturi dolorem impedit delectus reprehenderit.</small></p>
						</div>
						<img src="{{ asset('bundles/salatinosite/images/carousel-7.png') }}">
					</div>
					<div class="item">
						<div class="box-label">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quam.</h3>
							<p><small>Officia est accusamus nobis assumenda commodi tenetur doloremque asperiores ipsam, earum nemo nisi distinctio voluptate? <br>Dolore distinctio sapiente, necessitatibus!</small></p>
						</div>
						<img src="{{ asset('bundles/salatinosite/images/carousel-8.png') }}">
					</div>
				</div>
			</div>
		</div>
	</div>

	{% embed "SalatinoSiteBundle::Snippet/Instagram.html.twig" %}{% endembed %}

	<div class="row">
		<div class="col-sm-12">
			<div class="text-description">
				<p>
					O  Canil Salatino foi criado há 13 anos na fusão dos sócios: Claudio Gornati,  criador e expositor de cães desde 1970. E Rochester Oliveira,  criador e expositor desde 1994.
					<br /><br />
					As raças criadas pelo Salatino foram introduzidas aos poucos, após muito planejamento e preparação de toda equipe. A primeira raça a ser criada pelo Salatino foi Italian Greyhound (1980), logo depois iniciamos a criação do Saluki (1989 ) e Teckel Pelo longo (1998), em seguida Papillon (2000) e a última raça introduzida foi Chinese Crested Dog (2006).
					<br /><br />
					O Canil Salatino é um dos únicos canis brasileiros que oferece qualidade comprovada dos cães, contando com experientes criadores como sócios-proprietários do Canil. No Canil Salatino a qualidade dos cães se dá desde à aparência do cão (considerado o canil com os cães mais belos do país) até à saúde de cada cão/gato.
					<br /><br />
					A exclusividade da qualidade do Salatino é decorrente do extenso planejamento na criação: nossas matrizes são/foram importadas dos melhores criadores internacionais, e a inclusão de novas matrizes internacionais é frequente garantindo o melhoramento genético das raças.
					Mas acima de tudo o diferencial único do Salatino esta na forma como os nossos cães e gatos são criados no Clube Salatino.
				</p>
			</div>
		</div>
	</div>

	{% embed "SalatinoSiteBundle::Snippet/PartnersNews.html.twig" %}{% endembed %}

</div>
{% endblock %}