{% extends 'SalatinoCMSBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig'  %}

{% block content %}
	{% block fos_user_content %}

	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="page-header">
				<h1>
					{{ 'titles.editItem'|trans({}, 'CMS') }}
					<a href="{{ path('_cms_list') }}" class="btn btn-md btn-info pull-right">
						{{ 'buttons.back'|trans({}, 'CMS') }}
					</a>
				</h1>
			</div>
		</div>

		<div class="col-xs-12 col-sm-10 col-sm-offset-1">

			{{ form_start( form, { 
							'method': 'post', 
							'action': ( id is null
									? path('_cms_save_new') 
									: path('_cms_update', { 'id' : id } ) )
							} ) }}

				{{ form_widget( form )  }}

				<div>
					<button type="submit" class="btn btn-lg btn-primary pull-right">{{ 'buttons.save'|trans({}, 'CMS') }}</button>
				</div>
				
			{{ form_end(form) }}
		</div>
	</div>

	{% endblock %}
{% endblock %}