<div data-ride="carousel" class="carousel slide main-slide" id="main-slide">
	<ol class="carousel-indicators">
	{% for row in carousel %}
		<li class="{{ loop.index0 == 0 ? 'active' : '' }}" data-slide-to="{{ loop.index0 }}" data-target="#main-slide"></li>
	{% endfor %}
	</ol>

	<div role="listbox" class="carousel-inner">
	{% for row in carousel %}
		<div class="item {{ loop.index0 == 0 ? 'active' : '' }}">
			<img src="{{ asset('uploads/') }}{{ row.picture }}">
		</div>
	{% else %}
		<div class="item active">
			<img src="{{ asset('bundles/salatinosite/images/carousel.png') }}">
		</div>
	{% endfor %}
	</div>
	{% if carousel is defined and carousel | length > 1 %}
	<a data-slide="prev" role="button" href="#main-slide" class="left carousel-control">
		<span class="sr-only">Previous</span>
	</a>
	<a data-slide="next" role="button" href="#main-slide" class="right carousel-control">
		<span class="sr-only">Next</span>
	</a>
	{% endif %}
</div>