<div class="row">
	<div class="col-sm-8 pdr">
		<h2>Parceiros</h2>
		<div class="partners">
			<a href="#"><img alt="Proplan" src="{{ asset('bundles/salatinosite/images/partner-proplan.png') }}"></a>
			<a href="#"><img alt="Zoetis" src="{{ asset('bundles/salatinosite/images/partner-zoetis.png') }}"></a>
			<a href="#"><img alt="Pet Society" src="{{ asset('bundles/salatinosite/images/partner-pet-society.png') }}"></a>
		</div>
		
	</div>

	
	<div class="col-sm-4">
		<h2>Salatino na Mídia</h2>
		<ul class="highlights">
		{% for row in media %}
			{% set path = path('_content', { 'permalink' : 'salatino-na-midia', 'id' : row.id , 'title' : row.title | clearLink }) %}
			<li><a href="{{ path }}">{{ row.title | LimitString(40) }}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>