<div class="row">
	<div class="col-sm-12">
		<h2>Pedigree</h2>
	</div>
</div>

<div class="row">
	<div class="pedigree-table image-n-text-body">
		<table>
			<thead>
				<tr>
					<th><h3>Pais</h3></th>
					<th><h3>Avós</h3></th>
					<th><h3>Bisavós</h3></th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td rowspan="7">{{ pedigree.cp01 }}</td>
					<td rowspan="3">{{ pedigree.cp02 }}</td>
					<td>{{ pedigree.cp04 }}</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>{{ pedigree.cp05 }}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td rowspan="3">{{ pedigree.cp03 }}</td>
					<td>{{ pedigree.cp06 }}</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>{{ pedigree.cp07 }}</td>
				</tr>
				<tr class="mother">
					<td rowspan="7">{{ pedigree.cp08 }}</td>
					<td rowspan="3">{{ pedigree.cp09 }}</td>
					<td>{{ pedigree.cp11 }}</td>
				</tr>
				<tr class="mother">
					<td></td>
				</tr>
				<tr class="mother">
					<td>{{ pedigree.cp12 }}</td>
				</tr>
				<tr class="mother">
					<td></td>
					<td></td>
				</tr>
				<tr class="mother">
					<td rowspan="3">{{ pedigree.cp10 }}</td>
					<td>{{ pedigree.cp13 }}</td>
				</tr>
				<tr class="mother">
					<td></td>
				</tr>
				<tr class="mother">
					<td>{{ pedigree.cp14 }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>